@model IEnumerable<BookingManager.Models.ApartmentDTO>

@{
    ViewData["Title"] = "Apartments";
}

<div class="container mt-5">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div class="d-flex justify-content-between mb-4">
        <h2 class="mb-0">Available Apartments</h2>
        <a href="@Url.Action("AddApartment", "Apartment")" class="btn btn-primary">Add New Apartment</a>
    </div>
    <div class="row">
        @foreach (var apartment in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@apartment.PrimaryImageUrl" class="card-img-top" alt="@apartment.Name">
                    <div class="card-body">
                        <a asp-controller="Apartment" asp-route-av="@apartment.Name" asp-action="Detail"><h5 class="card-title">@apartment.Name</h5></a>
                        <h5 class="card-title">@apartment.Name</h5>
                        <p class="card-text">@apartment.Description</p>
                        <p class="card-text"><strong>Guests:</strong> @apartment.Guests</p>
                        <p class="card-text"><strong>Price:</strong> $@apartment.Price</p>
                        <a href="@Url.Action("Details", "Apartment", new { id = apartment.Id })" class="btn btn-primary">View Details</a>
                        <a asp-controller="Apartment" asp-action="Details" asp-route-id="@apartment.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>